<nav class="navigation hoverable">
    <div class="desktopnav">
      <ul class="sidenav sidenav-fixed" id="slide-out">
        <li class="subheader nav-title-desktop orange darken-1"><a href="#">Tasktacular</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Pomodoro Clock</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
    </div>

    <div class="mobilenav">
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <h1>Tasktacular</h1>
      <a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons">more_vert</i></a>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a class="black-text" href="#!">Clear All</a></li>
      </ul>
  </div>
</nav>