@import '../../../scss/abstracts/mixins';

nav.navigation {
    width: inherit;
    height: 100vh;

    @include respond(navswap) {
        height: 100%;
        width: 100%;
    }

    & .sidenav.sidenav-fixed {
        position: relative;
        height: 100vh;
        width: inherit;

        & .nav-title-desktop > a {
            color: #eee;
            font-size: 2em;
        }

        @include respond(navswap) {
            position: fixed;
        }
    }

    & .brand-logo {
        position: relative;
        padding: 0 15px;
    }

    & .mobilenav {
        display: none;

        @include respond(navswap) {
            display: flex;
            align-items: center;
        }

        & .sidenav-trigger {
            position: absolute;
            float: none;
        }

        & .dropdown-trigger {
            margin: 0 18px;
        }

        & h1 {
            margin: auto;
            padding: 5px 0;
        }
    }
}
