<div class="row">
  <div class="col xl2 twentytwowidth l3 s12 fullwidth-navswap nopadding">
    <app-navigation></app-navigation>
  </div>
  <div class="col xl10 l9 s12 seventysevenwidth">
    <div class="row">
      <div class="col xl3 l6 s12">
        <app-taskscompletedcard></app-taskscompletedcard>
      </div>
      <div class="col xl3 l6 s12">
        <app-subtaskscard></app-subtaskscard>
      </div>
      <div class="col xl3 l6 s12">
        <app-pomodorosdonecard></app-pomodorosdonecard>
      </div>
      <div class="col xl3 l6 s12">
        <app-activeprojectcard></app-activeprojectcard>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <app-weekly-calander></app-weekly-calander>
      </div>
    </div>
  </div>
</div>
