<div class="row">
  <div class="col fullwidth-navswap nopadding">
    <app-navigation></app-navigation>
  </div>
  <div class="col s10">
    <div class="row">
      <div class="col s3">
        <app-taskscompletedcard></app-taskscompletedcard>
      </div>
      <div class="col s3">
        <app-subtaskscard></app-subtaskscard>
      </div>
      <div class="col s3">
        <app-pomodorosdonecard></app-pomodorosdonecard>
      </div>
      <div class="col s3">
        <app-activeprojectcard></app-activeprojectcard>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <app-weekly-calander></app-weekly-calander>
      </div>
    </div>
  </div>
</div>
